/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #e63946;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffe066;
}

/* Hero */
.hero {
  background-color: #e63946;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 100px 80px;
  height: 100vh;
}

.hero-text {
  max-width: 50%;
}

.hero-text .intro {
  font-size: 1.3rem;
}

.hero-text h1 {
  font-size: 4rem;
  margin: 10px 0;
  font-weight: 700;
}

.hero-text h3 {
  font-size: 1.8rem;
  margin-bottom: 25px;
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn, .btn-outline {
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn {
  background-color: #fff;
  color: #e63946;
}

.btn:hover {
  background-color: #ffe066;
}

.btn-outline {
  border: 2px solid #fff;
  color: #fff;
}

.btn-outline:hover {
  background-color: #fff;
  color: #e63946;
}

/* Image */
.hero-img img {
  width: 260px;
  border-radius: 50%;
  border: 5px solid #fff;
  object-fit: cover;
}

/* Sections */
.section {
  padding: 100px 80px;
  background-color: #fff;
}

.section:nth-child(even) {
  background-color: #f8f8f8;
}

.section h2 {
  color: #e63946;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Portfolio */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.project-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Footer */
footer {
  text-align: center;
  background-color: #e63946;
  color: #fff;
  padding: 20px;
}

footer a {
  color: #ffe066;
  text-decoration: none;
}
